<md-card flex>
  <img src="images/sportingkc.png" class="md-card-image" title="Sporting KC" alt="Sporting KC" />
  <md-card-content style="text-align: center;">
    <h1>Welcome Sporting KC Fans!</h1>
    <p>Let's question everything with a fun quiz!</p>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-raised md-primary" ng-if="!main.creatingQuiz" ng-click="main.newQuiz()">Start New Quiz</md-button>
    <md-button class="md-raised md-primary" ng-if="main.creatingQuiz" ng-disabled="true">Creating Quiz...</md-button>
  </md-card-actions>
</md-card>